.conteiner{
    height: 100vh;
}
.main{
    height: 100%;
    display: grid;
    grid-template-columns: 0.60fr 4fr;

}
.nav{
    background-color: rgb(176, 176, 176);
}
.section{
    background-color: rgb(226, 226, 226);
}
.aside{
    height: 90%;
}
