.conteiner{
    height: 100vh;
}
.main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

}
.nav{
    background-color: rgb(176, 176, 176);
}
.section{
    background-color: rgb(211, 234, 254);
}
.aside{
    height: 90%;
}
