.conteiner{
    height: 100%;
}
.section{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
.board{
    height: 100%;
    border: 2px solid black;
    width: 170px;
    
}