.conteiner{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.338);
}

.body{
    background-color: rgb(181, 179, 179);
    padding: 20px;
    width: 450px;
    border-radius: 15px;
}
.butOut{
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.butOut:hover{
    background-color: gray;
    border-radius: 50%;
    transition: 0.2s;
}
.form{
    display: block;
    margin: auto;
    width: 100%;
}
.content{
    display: grid;
}
.label{
    margin-left: 50px;
    font-size: 1.1em;
    margin-bottom: 2px;
}
.title{
    font-size: 2.1em;
    margin-bottom: 25px;
    margin-left: 10px;
    text-align: center;
}

.input{
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);
}
.select{
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);

}

.but{
    display: block;
    margin: auto;
    font-size: 1.2em;
    padding: 10px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: rgba(61, 160, 61, 0.895);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);
    margin-top: 10px;
    cursor: pointer;
}
.but:hover{
    background-color: rgb(110, 254, 110);
}