.body{
    position: fixed;
    top: 80px;
    right: 20px;
    width: 400px;
    height: 550px;
    background-color: rgb(219, 216, 216);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.288);}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: rgb(154, 152, 152);
    border-radius: 10px 10px 0px 0px;
}
.contentBut{
    display: flex;
    align-items: center;
    justify-content: end;
}
.contentBut2{
    display: flex;
    align-items: center;
    justify-content: start;
}
.hiden{
    display: none;
}
.but{
    display: block;
    font-size: 1.5em;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.but:hover{
    background-color: gray;
    transition: 0.2s;
}
#butPlus{
    border-right: 1px solid rgb(103, 102, 102);
}
#butx{
    font-size: 1.8em;
}
.iconStatus{
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80);
}
#check{
    color: rgba(10, 108, 10, 0.459);
}
.aside{
    height: 90%;
}