.board{
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.288);
}

.title{
    border-bottom: 1px solid black;
    background-color: rgb(174, 174, 174);
    height: 60px;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

.carrossel{
    height: 750px;
    display: grid;
    align-content: start;
    scrollbar-width: none;
    padding: 10px;
    overflow-x: scroll;
}

.scroll{
    height: 750px;
    display: grid;
    align-content: start;
    padding: 10px;
}