.body{
    background-color: gray;
    width: 350px;
    height: 350px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 60px;
}

.aside{
    background-color: blanchedalmond;
    padding: 15px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto;
}
.butsContent{
    display: flex;
    gap: 5px;
}