.body{
    background-color: rgb(176, 176, 176);
    width: 350px;
    min-height: 300px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 60px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.279);
    /*margin-bottom: 30px;*/
}
.body:hover{
    transform: translate(-3px, -3px);
    transition: 0.2s;
}
.section{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-content: space-between;
    cursor: pointer;
}
.title{
    font-size: 2em;
    margin: 10px 0px 15px 0px;
 
}
.des{
    display: block;
    margin: auto;
    font-size: 1.1em;
    text-indent: 20px;
}
.tagContent{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.tag{
    background-color: rgba(255, 255, 0, 0.479);
    min-width: 80px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}
.data{
    background-color: rgba(98, 98, 212, 0.377);
    min-width: 80px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}
.aside{
    padding: 15px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto;
}
.butsContent{
    display: flex;
    gap: 5px;
    align-items: center;
    gap: 10px;
}

.buts{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 1.3em;
    padding: 7px;
    background-color: rgba(128, 128, 128, 0.521);
    border-radius: 50%; 
    cursor: pointer;
}
.buts:hover{
    background-color: gray;
    transition: 0.2s;
}
.hiden{
    display: none;
}

.ap{
    display: block;
}

@media (max-width: 980px) {
    .body{
        width: 280px;
    }
}