.body{
    display: grid;
}
.head{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
}
.titleHead {
    font-size: 2em;
}

.butNewP{
   background-color: rgb(84, 126, 209);
   padding: 6px 14px; 
   border: none;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.388);
   font-size: 0.9em;
}

.butNewP:hover{
    background-color: rgb(18, 18, 114);
    color: white;
    transition: 0.2s;
}

.section{
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    align-content: start;
}