.conteiner{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.489);
}
.body{
    background-color: wheat;
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
.butOut{
    font-size: 1.7em;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-right: 450px;
}
.butOut:hover{
    background-color: gray;
    border-radius: 50%;
    transition: 0.2s;
}
.content{
    display: grid;
}
.p{
    text-align: center;
    font-size: 1.4em;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.formContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 228, 196, 0.358);
}
.form{
    width: 90%;
}
.title{
    font-size: 2.5em;
    margin-bottom: 25px;
    text-align: center;
}
.label{
    margin-left: 70px;
    font-size: 1.2em;
    margin-bottom: 2px;
}
.input{
    margin: auto;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);

}
.but{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 10px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background-color: rgb(209, 208, 208);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);
    margin-top: 10px;
    cursor: pointer;
}
.but:hover{
    background-color: rgb(110, 254, 110);
}